# Frontend Environment Variables
# API base URL for connecting to the Express backend
VITE_BASE_URL=http://localhost:3001/api/v1

# Socket URL for connecting to the Socket.io backend server
VITE_SOCKET_URL=http://localhost:3001
